@font-face {
  font-family: 'ProximaNova';
  src: local('ProximaNova-bold'), url(../../fonts/Proxima-Nova-Bold.ttf) format('ttf');
  src: local('ProximaNova-semibold'), url(../../fonts/Proxima-Nova-Sbold.ttf) format('ttf');
}

.myProfileContainer {
  display: flex;
  width: 100vw;
  max-width: 1150px;
  justify-content: space-between;
  align-self: center;
  margin-top: 60px;
}

.profileWrapper {
  padding: 32px 24px 32px 32px;
  width: 70%;
  align-self: flex-end;


  .infoContainer {
    width: 494px;
    height: 210px;
    padding-right: 92px;
    margin-bottom: 20px;

    .userData {
      display: flex;
      margin-bottom: 12px;

      .profilePicture {
        width: 116px;
        height: 116px;
        border-radius: 50%;
      }

      .namesBox {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .userName {
          font-family: ProximaNova-bold, sans-serif;
          font-weight: 800;
          font-size: 32px;
          margin-bottom: 0;
          margin-top: 0;
        }

        .userNickname {
          font-family: ProximaNova-bold, sans-serif;
          font-size: 18px;
          margin-top: 6px;
        }

        .profileLikedBtns {
          display: flex;
          flex-direction: row;

          .messageButtonBox {
            margin-top: 20px;
            width: 162px;
            font-size: 16px;
            line-height: 25px;
            font-family: ProximaNova-sbold, sans-serif;
            font-weight: bold;
            border: 1px solid #FE2C55FF;
            border-radius: 4px;
            color: #FE2C55FF;
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
            padding: 6px 8px;
            cursor: pointer;
          }

          .messageButtonBox:hover {
            background-color: #FE2C5614;
          }

          .followedIcon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 36px;
            height: 36px;
            border: 1px solid #e4e4e5;
            border-radius: 4px;
            margin-top: 20px;
            margin-left: 8px;
            cursor: pointer;
            background-color: white;
          }
        }

        .followButtonBox {
          margin-top: 20px;
          width: 206px;
          font-size: 16px;
          line-height: 25px;
          font-family: ProximaNova-sbold, sans-serif;
          font-weight: bold;
          border: 1px solid #ff3a5e;
          border-radius: 4px;
          background-color: #ff3a5e;
          color: #fefefe;
          display: flex;
          position: relative;
          align-items: center;
          justify-content: center;
          padding: 6px 8px;
          cursor: pointer;
        }

      }
    }

    .followData {
      font-family: ProximaNova-sbold, sans-serif;
      font-size: 16px;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      color: #737373;

      .followCounter {
        font-size: 18px;
        margin-right: 2px;
        margin-left: 12px;
        font-weight: 800;
        color: #555555;
      }
    }

    .bioBox {
      font-family: ProximaNova-sbold, sans-serif;
      font-size: 14px;
      color: #585858;
      margin-left: 12px;
      margin-top: 8px;
    }
  }

  .videosContainer {
    border: 1px solid hotpink;
    height: 350px;
    font-family: ProximaNova-sbold, sans-serif;
    font-size: 18px;

    .tabVideosLikedChecked {
      width: 230px;
      height: 44px;
      font-size: 18px;
      font-weight: 600;
      border: none;
      background-color: white;
      color: #1d1d1d;
      border-bottom: 1px solid #1d1d1d ;
      transition: all 150ms ease-in-out 0s;
    }
    .tabVideosLikedUnchecked {
      width: 230px;
      height: 44px;
      font-size: 18px;
      font-weight: 600;
      border: none;
      background-color: white;
      color: #8d8d8d;
      transition: all 150ms ease-in-out 0s;
    }

    .likedVideosArePrivate{
      padding-top: 60px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .lockIcon{
        height: 70px;
        width: 70px;
        color: #b3b3b7;
      }
    }
  }

}
