@font-face {
  font-family: 'ProximaNova-bold';
  src: local('ProximaNova-bold'), url(../../fonts/Proxima-Nova-Bold.ttf) format('ttf');
}
@font-face {
  font-family: 'ProximaNova-sbold';
  src: local('ProximaNova-semibold'), url(../../fonts/Proxima-Nova-Sbold.ttf) format('ttf');
}
@font-face {
  font-family: 'ProximaNova-regular';
  src: local('ProximaNova-regular'), url(../../fonts/ProximaNova-Regular.ttf) format('ttf');
}

.loginContainer{
  width: 472px;
  height: 660px;
  //border: 1px solid red;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .closeBtn{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #f1f1f2;
    align-self: flex-end;
    margin-top: 8px;
    margin-right: 8px;
    transition: all 200ms ease-in-out 0s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .closeBtn:hover{
    background-color: #ececec;
    cursor: pointer;

  }

  .loginContainerContent{
    width: 376px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;


    .loginTitle{
      width: 320px;
      height: 32px;
      font-family: ProximaNova-bold,sans-serif;
      font-size: 24px;
      text-align: center;
      font-weight: bolder;
      color: #161823;
    }
    .loginOptionsContainer{
      margin-top: 32px;
      //border: 1px solid pink;

      .loginWrapper{
        width: 376px;

        .loginFirstOptions{
          margin-top: 4px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          font-family: ProximaNova-regular,sans-serif;
          font-size: 14px;
          text-align: start;
          color: #161823;
        }

        .loginInputField{
          width: 362px;
          height: 44px;
          padding-left: 12px;
          margin-top: 8px;
          border: 1.5px solid #e5e5e7;
          border-radius: 4px;
          background-color: #f1f1f2;
        }
        .loginInputField::placeholder{
          color: #ababaf;
          font-family: ProximaNova-regular,sans-serif;
          font-size: 14px;
        }
        .loginInputField:hover{
          background-color: #eae9e9;
        }

        .loginForgotPass{
          font-family: ProximaNova-regular,sans-serif;
          font-size: 12px;
          color: #595a63;
          margin-top: 10px;
          margin-bottom: 10px;
        }

        .loginBtnDisabled{
          width: 380px;
          height: 44px;
          border: 0px solid #e5e5e7;
          border-radius: 4px;
          background-color: #f1f1f2;
          color: #ababaf;
          font-family: ProximaNova-regular,sans-serif;
          font-weight: bold;
          font-size: 14px;
          disabled:checked;
        }

        .logInBtnEnabled{
          width: 380px;
          height: 44px;
          border: 0px solid #ff2c55;
          border-radius: 4px;
          background-color: #ff2c55;
          color: white;
          font-family: ProximaNova-regular,sans-serif;
          font-weight: bold;
          font-size: 14px;
        }

      }

      .signUpWrapper{
        font-family: ProximaNova-bold,sans-serif;
        font-size: 16px;
        width: 376px;

        .signUpDateWrapper{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-top: 12px;
          margin-bottom: 4px;

          .singUpMonthSelector{
            overflow: auto;
          }

          .signUpDropDown{
            width: 95px;
            height: 44px;
            padding-left: 12px;
            padding-right: 13px;
            border-radius: 4px;
            background-color: #f1f1f2;
            color: #ababaf;
            font-family: ProximaNova-regular,sans-serif;
            font-size: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        .signUpSmallText{
          font-family: ProximaNova-bold,sans-serif;
          font-size: 12px;
          text-align: start;
          color:#8f9095;
          margin-bottom: 18px;
        }

        .signUpOpt{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          font-size: 14px;
        }

        .singUpInput{
          width: 362px;
          height: 44px;
          padding-left: 12px;
          margin-top: 8px;
          border: 1px solid #bcbcbd;
          border-radius: 4px;
          background-color: #f1f1f2;
        }
        .singUpInput::placeholder{
          color: #ababaf;
          font-family: ProximaNova-regular,sans-serif;
          font-size: 15px;
        }
        .singUpInput:hover{
          background-color: #eae9e9;
        }

        .signUpPasswordTip{
          display: none;
          flex-direction: column;
          align-items: start;
          font-family: ProximaNova-regular,sans-serif;
          font-size: 12px;

        }

        .singUpCodeWrapper{
          display: flex;
          flex-direction: row;
        }
        .singUpCode{
          width: 217px;
          height: 44px;
          padding-left: 12px;
          margin-top: 8px;
          border-top: 1px solid #ababaf;
          border-left: 1px solid #ababaf;
          border-bottom: 1px solid #ababaf;
          border-right: 0px;
          border-radius: 4px;
          background-color: #f1f1f2;
          color: #ababaf;
          font-family: ProximaNova-regular,sans-serif;
          font-size: 15px;
        }
        .singUpCode::placeholder{
          color: #ababaf;
          font-family: ProximaNova-regular,sans-serif;
          font-size: 14px;
        }
        .singUpCode:hover{
          background-color: #eae9e9;
        }
        .signUpSendCode{
          border: 1px solid #ababaf;
          border-radius: 4px;
          width: 159px;
          height: 44px;
          margin-top: 8px;
          color: #b3b3b7;
          display: flex;
          align-items: center;
          justify-content: center;
          padding-top: 1px;
          padding-bottom: 1px;
          cursor: pointer;
        }

        .signUpBtn{
          width: 380px;
          height: 44px;
          margin-top: 14px;
          border: 0px solid #e5e5e7;
          border-radius: 4px;
          background-color: #f1f1f2;
          color: #ababaf;
          font-family: ProximaNova-regular,sans-serif;
          font-size: 14px;
        }
      }
    }
      .signUpFooter{
        color: #8f9095;
        font-family: ProximaNova-bold,sans-serif;
        font-size: 12px;
        text-align: center;
        align-self: flex-end;
        margin-top: 16px;
      }
  }

  .loginFooterContainer{
    border-top: 1px solid #e3e3e4;
    width: 424px;
    height: 30px;
    margin-top: 91px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 25px;
    align-self: flex-end;

    font-family: ProximaNova-regular,sans-serif;
    font-size: 15px;
    text-align: start;
    color: #161823;

    .signUpLink{
      text-decoration: none;
      color: #ff2c55;
    }
    .signUpLink:hover{
      cursor: pointer;
    }
  }

}